<div class="header">
    <button class="header__button" (click)="toggleSidenav()">
        <img src="assets/icons/close.svg" alt="">
    </button>
    <!-- <div class="header__menu">
        <a routerLink="#" class="header__menu-link">
            {{'Dashboard' | translate | uppercase}}
        </a>
        <a routerLink="product" class="header__menu-link">
            {{'PRODUCTS' | translate}}
        </a>
    </div> -->

    <div class="header__actions">
        <!-- <language-dropdown></language-dropdown> -->

        <button class="full-screen" (click)="toggleFullscreen()">
            <img src="assets/icons/full-screen.svg" alt="">
        </button>

        <!-- <change-theme></change-theme> -->

        <header-profile></header-profile>
    </div>

</div>