<nz-spin [nzSpinning]="isLoading$">
    <form nz-form [formGroup]="form">
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <input formControlName="name_en" nz-input="text" placeholder="name_en" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <input formControlName="name_ru" nz-input="text" placeholder="name_ru" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <input formControlName="name_ne" nz-input="text" placeholder="name_ne" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <input formControlName="name_id" nz-input="text" placeholder="name_id" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <textarea formControlName="description_en" nz-input="text" placeholder="decription_ru"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <textarea formControlName="description_ru" nz-input="text" placeholder="decription_ru"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <textarea formControlName="description_ne" nz-input="text" placeholder="decription_ne"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <textarea formControlName="description_id" nz-input="text" placeholder="decription_id"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</nz-spin>
<div class="form-buttons">
    <ng-container *ngIf="country">
        <button *ngxPermissionsOnly="['role_delete']" nz-button nzType="primary" (click)="onDelete()"
            nzDanger>Delete</button>
    </ng-container>
    <div>
        <button nz-button nzDanger>Cancel</button>
        <button nz-button nzType="primary" (click)="submitData()">
            {{country?'Update':'Create'}}
        </button>
    </div>
</div>