<nz-spin [nzSpinning]="isLoading$">
    <form nz-form [formGroup]="form">
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Name is required">
                        <input formControlName="name" nz-input="text" name="name" id="name" placeholder="Name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Title is required">
                        <input formControlName="email"  nz-input="email" name="email" id="email" placeholder="Email" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div *ngIf="!user" nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Title is required">
                        <input type="password" formControlName="password" required="true" nz-input="password" name="password" id="password" placeholder="Password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Sub Part is required">
                        <nz-select formControlName="role_id" name="role_id" id="role_id" nzPlaceHolder="ROLE">
                            <ng-container *ngFor="let item of roles$ | async">
                                <nz-option [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Sub Part is required">
                        <nz-select formControlName="isBlock" name="isBlock" id="isBlock" nzPlaceHolder="isBlock">
                            <nz-option [nzLabel]="'Block'" [nzValue]="true"></nz-option>
                            <nz-option [nzLabel]="'Unblock'" [nzValue]="false"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</nz-spin>
<div class="form-buttons">
    <div>
        <button *ngIf="user" nz-button nzType="primary" (click)="showModal()">
          <span>Password update</span>
        </button>
        <button nz-button nzDanger (click)="close()">Cancel</button>
        <button nz-button nzType="primary" (click)="submitData()">
            Update
        </button>            
    </div>
</div>