::ng-deep .ant-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector,
::ng-deep .ant-input{
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.form-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    width: 87%;

    button{
        height: 35px;
        border-radius: 5px;
        background-color: #FF9F43;
        color: #ffffff;
        padding: 7px 15px;
        font-weight: 400;
        font-size: 14px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover{
            background: #fe820e;
        }
    }
    .btn-delete{
        background: #637381;
        &:hover{
            background: #424b52;
        }
    }
    .btn-cancel{
        background: #dc3545;
        &:hover{
            background: #bb2d3b;
        }
    }

    div {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        gap: 15px;
    }
}