<div>
    <form nz-form [formGroup]="form">
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Password is required">
                        <input type="password" formControlName="password" nz-input="text" name="password" id="password" placeholder="Password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Password repeat is required">
                        <input type="password"  formControlName="passwordRepeat" nz-input="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repeat Password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Back</button>
    <button nz-button nzType="primary" (click)="submitData()">Update</button>
</div>